.calculator {
	border: 1px solid #8e8e8e;
	border-radius: 6px;
	height: 315px;
	margin: 100px auto;
	/* overflow: hidden; */
	width: 285px;
}

.calculator__buttons-wrapper {
	display: flex;
}

.calculator__left-buttons {
	flex: 3;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.calculator__operator-buttons {
    flex: 2;
    flex-wrap: wrap;
    justify-content: flex-end;
}